<footer class="text-center text-lg-start bg-dark text-white">
    <section class="container d-flex justify-content-center justify-content-lg-between p-4">
      <div class="me-5 d-none d-lg-block">
        <span>Get connected with us on social networks:</span>
      </div>
      <div>
        <a href="https://www.facebook.com/akanksha.susmitha" class="me-4 text-reset"><i class="fa fa-facebook"></i></a>
        <a href="https://twitter.com/AtigaddaS39867" class="me-4 text-reset"><i class="fa fa-twitter"></i></a>
        <a href="https://youtube.com/@atigaddasusmitha523?si=7pl9quw6i-Xdr051" class="me-4 text-reset"><i class="fa fa-youtube"></i></a>
        <a href="https://www.instagram.com/akank216357/" class="me-4 text-reset"><i class="fa fa-instagram"></i></a>
        <a href="https://linkedin.com/in/a-susmitha-223b61244" class="me-4 text-reset"><i class="fa fa-linkedin"></i></a>
      </div>
    </section>
  
    <section class="">
      <div class="container text-center text-md-start mt-5">
        <div class="row mt-3">
          <div class="col-md-3 col-lg-4 col-xl-4 mx-auto mb-4">
            <h6 class="text-uppercase fw-bold mb-4">SOFTWARE DEVELOPMENT ENGINEER</h6>
            <p>
               A Software Development Engineer (SDE) is a professional who is responsible for designing, developing, testing, and maintaining software systems. SDEs play a key role in the software development life cycle, contributing to the creation of applications, systems, or products that meet the requirements and expectations of users and stakeholders.
            </p>
          </div>
  
          <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
            <h6 class="text-uppercase fw-bold mb-4">What We Do</h6>
            <p>Software Development Life Cycle (SDLC)</p>
            <p>Problem-Solving and Troubleshooting</p>
            <p>Collaboration and Communication</p>
            <p>Continuous Learning and Innovation</p>
            <p>Quality Assurance and Testing</p>
          </div>
          <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
            <h6 class="text-uppercase fw-bold mb-4">Useful links</h6>
            <p><a href="{% url 'home' %}" class="text-reset">Apply Jobs</a></p>
            <p><a href="{% url 'about' %}" class="text-reset">About Us</a></p>
            <p><a href="{% url 'contact' %}" class="text-reset">Contact Us</a></p>
          </div>
          
          <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
            <h6 class="text-uppercase fw-bold mb-4"> Contact</h6>
            <p><i class="fa fa-home"></i> Atigadda Susmitha</p>
            <p><i class="fa fa-envelope"></i> atigaddasusmitha789@gmail.com</p>
            <p><i class="fa fa-phone"></i> + 91 9492760216</p>
          </div>
  
        </div>
      </div>
    </section>
    <div class="text-center p-4">
      &copy; Copyright © 2024. All rights reserved</a>
    </div>
  </footer>

