{% extends 'software/layouts/bootstrap5.html' %}
{% block content %}
  <div class="container" style="margin-top: 90px;">
    <div class="row">
      <div class="col-12">
        <div class="alert alert-success" role="alert">
          <h3>Confirm Password Reset</h3>
          <form method="post">
            {% csrf_token %}
            <div class="mb-3">
              {{ form.new_password1.label_tag }}
              {{ form.new_password1 }}
            </div>
            <div class="mb-3">
              {{ form.new_password2.label_tag }}
              {{ form.new_password2 }}
            </div>
            <button type="submit" class="btn btn-primary">Set New Password</button>
          </form>
        </div>
      </div>
    </div>
  </div>
  <script>
    document.getElementById("id_new_password1").placeholder = "New password";
    document.getElementById("id_new_password2").placeholder = "Confirm password";
  </script>
{% endblock %}
