{% extends 'software/layouts/bootstrap5.html' %}

{% block content %}
  <div class="container" style="margin-top: 90px;">
    <div class="row">
      <div class="col-12">
        <div class="alert alert-success" role="alert">
          <h3>Password Reset Complete</h3>
          <p>
            Your password has been successfully reset. You may now
            <a href="{% url 'login' %}" class="btn btn-primary">Login</a>
            with your new password.
          </p>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
